*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $ff-body;
  line-height: 1.6;

  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  min-block-size: 100vh;
  line-height: 1.6;
  font-size: $font-size-regular;
  color: $text-main;
  background-color: $background-main;
}

h1,
h2,
h3,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
li {
  text-wrap: pretty;
}

img,
picture {
  max-inline-size: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: $ff-heading;
  color: $text-high-contrast;
}

h1 {
  font-size: $font-size-heading-lg;
}

a {
  color: $text-high-contrast;

  &:hover,
  &:focus-visible {
    color: $text-brand-light;
  }
}

img:not([src^="data:image/svg"]) {
  border-radius: $border-radius-3;
}
