// Base Colors
$text-main: var(--clr-gray-100);
$text-high-contrast: var(--clr-white);
$text-brand: var(--clr-brand-500);
$text-brand-light: var(--clr-brand-400);

$background-accent-light: var(--clr-green-400);
$background-accent-main: var(--clr-green-500);
$background-accent-dark: var(--clr-green-600);
$background-red: var(--clr-red-500);
$background-orange: var(--clr-orange-500);
$background-teal: var(--clr-teal-500);

$background-extra-light: var(--clr-brown-500);
$background-light: var(--clr-brown-600);
$background-main: var(--clr-brown-700);
$background-dark: var(--clr-brown-800);
$background-extra-dark: var(--clr-brown-900);
