// Base Colors
$text-main: var(--clr-text-main);
$text-high-contrast: var(--clr-text-high-contrast);
$text-dark-contrast: var(--clr-text-dark-contrast);
$text-gray: var(--clr-text-gray);

$text-brand: var(--clr-text-brand);
$text-brand-light: var(--clr-text-brand-light);

$background-accent-light: var(--clr-background-accent-light);
$background-accent-main: var(--clr-background-accent-main);
$background-accent-dark: var(--clr-background-accent-dark);
$background-red: var(--clr-background-red);
$background-orange: var(--clr-background-orange);
$background-teal: var(--clr-background-teal);

$background-extra-light: var(--clr-background-extra-light);
$background-light: var(--clr-background-light);
$background-main: var(--clr-background-main);
$background-dark: var(--clr-background-dark);
$background-extra-dark: var(--clr-background-extra-dark);
