// Font Family
$ff-heading: "Outfit", sans-serif;
$ff-body: "Fira Sans", sans-serif;

// Base Fonts
$font-size-heading-sm: var(--fs-700);
$font-size-heading-regular: var(--fs-800);
$font-size-heading-lg: var(--fs-900);
$font-size-heading-xl: var(--fs-1000);

$font-size-sm: var(--fs-300);
$font-size-regular: var(--fs-400);
$font-size-md: var(--fs-500);
$font-size-lg: var(--fs-600);
