@import "./_variables.scss";

.equal-columns {
  display: grid;
  gap: var(--equal-columns-gap, #{size(16)});
  align-items: var(--equal-columns-vertical-alignment, stretch);

  &[data-gap="large"] {
    --equal-columns-gap: #{size(32)};
  }

  &[data-alignment="centered"] {
    --equal-columns-vertical-alignment: center;
  }

  @include respond(sm) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
