@import "./_variables.scss";

// Select everything that has an element before it
.flow > * + * {
  margin-top: var(--flow-spacer, 1em);
}

.flex-group {
  display: flex;
  gap: size(8);
  flex-wrap: wrap;
}

.grid-flow {
  display: grid;
  gap: var(--grid-flow-gap, size(16));
}

.equal-columns {
  display: grid;
  gap: var(--equal-columns-gap, #{size(16)});
  align-items: var(--equal-columns-vertical-alignment, stretch);

  &[data-gap="large"] {
    --equal-columns-gap: #{size(32)};
  }

  &[data-alignment="centered"] {
    --equal-columns-vertical-alignment: center;
  }

  @include min-respond(sm) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
