@include respond(md) {
  :root {
    --fs-300: var(--size-14);
    --fs-400: var(--size-16);
    --fs-500: var(--size-20);
    --fs-600: var(--size-24);
    --fs-700: var(--size-32);
    --fs-800: var(--size-48);
    --fs-900: var(--size-80);
    --fs-1000: var(--size-120);
  }
}
