@media (width > 760px) {
  :root {
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 3rem;
    --fs-900: 5rem;
    --fs-1000: 7.5rem;
  }
}
