@import "./variables.scss";
@import "./mixins.scss";

@include generate-color-utilities($colors);
@include generate-border-radius-utilities($border-radius-variations);
@include generate-font-sizes-utilities($font-sizes);

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.text-center {
  text-align: center;
}

.resizing * {
  transition: none !important;
  animation-play-state: paused;
}

.text-brown-light-gray-dark {
  color: var(--text-brown-light-gray-dark-color, var(--clr-text-gray));

  @media (prefers-color-scheme: light) {
    --text-brown-light-gray-dark-color: var(--clr-text-dark-contrast);
  }
}

.text-gray-light-brown-dark {
  color: var(--text-gray-light-brown-dark, var(--clr-text-dark-contrast));

  @media (prefers-color-scheme: light) {
    --text-gray-light-brown-dark: var(--clr-text-gray);
  }
}
